<section class="mx-10">
  <h1 class="text-5xl p-5 text-center">{{ country().name }}</h1>


  <div class="stats shadow">
    <div class="stat place-items-center">
      <div class="stat-title">Population</div>
      <div class="stat-value">{{ country().population | number }}</div>
      <div class="stat-desc">From: {{ currentYear() }}</div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">Region</div>
      <div class="stat-value text-secondary">{{ country().region }}</div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">Sub region</div>
      <div class="stat-value">{{ country().subRegion }}</div>
    </div>
  </div>

  <figure class="diff aspect-16/9" tabindex="0">
    <div class="diff-item-1" role="img" tabindex="0">
      <img class="blur brightness-75" [alt]="country().name" [src]="country().svg" />
    </div>
    <div class="diff-item-2" role="img">
      <img [alt]="country().name" [src]="country().svg" />
    </div>
    <div class="diff-resizer"></div>
  </figure>
</section>
